# Supabase Postgres — pooled connection for the app (port 6543)
DATABASE_URL="postgresql://postgres.gkfgzgfxdfdiadcaqqmeuc:Nguyendv@12@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection for migrations (port 5432)
# Supabase Postgres — pooled connection for the app (port 6543)
DATABASE_URL="postgresql://postgres.gkfgzgsdfxdiadcaqqmeuc:Nguyendv@12@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection for migrations (port 5432)
DIRECT_URL="postgresql://postgres:Nguy2v@12@db.gkfgzgfxdiadcaqqmeuc.supabase.co:5432/postgres"

# NextAuth
AUTH_SECRET="generate-with: npx auth secret"
AUTH_GOOGLE_ID="107448844642-mtri17pv4td073addnfs53kfsunjd499s.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="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n"
BETTER_AUTH_SECRET=6d1da318df27a99c7db6ab31020587835f943c2fd5374e5c273950361c82056aab

# App
ALLOWED_EMAIL_DOMAIN="domain.com.vn"
NEXT_PUBLIC_APP_URL="http://10.1.31.145:3000"
APP_URL="http://10.1.31.145:3000"
AUTH_TRUST_HOST=true
WEEKLY_REPORT_DEADLINE="Friday 02:00"

NORM=90

NEXT_PUBLIC_SUPABASE_URL=https://gkfgzgf56xdia4dcaqqm9euc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrZmd6Z2Z4ZGlhZGNhcXFtZXVjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTk4MDA5OSwiZXhwIjoyMDg3NTU2MDk5fQ.CbrH36qCxMuzqH7nrE9aqcVthSf-1lLmZM_WejzA0dc
SUPABASE_STORAGE_BUCKET="portal"

OPENAI_API_KEY="sk-proj-dPvZWj8YZYalZMfflC11ufmsGKif0yLdsehTE97sqf7KodddVUinC3GuJx63gYUUslgtp4OXOBcCeT3BlbkFJ38sFY-VxVPZCtMOsk-fNAzExw2BcCSdAvwF8IJJKsl2rFafnnDbTNFBWCFDbjG2aB6WS-ojvQA"
OPENAI_MODEL="gpt-4.1-mini"
GOOGLE_CHAT_WEBHOOK_URL="https://chat.googleapis.com/v1/spaces/AAQAV3_3YB4/messages?key=AIzaSyDds0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=kd2n53-ygkukwgAII96SJc5sDsx3hdtC6ZHKYwKJFYvQ"
MEETING_CHAT_WEBHOOK_URL="https://chat.googleapis.com/v1/spaces/AAQAV3_3YB4/messages?key=AIzaSysDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=kd2n53-ygkukwgAIcI96SJc5Dsx3hdtC6ZHKYwKJFYvQ"